<link rel="stylesheet" href="resources/css/recordslog.css" type="text/css" media="all">

<div id="logs-content" class="row">
  <div class="col-xs-12">
    <p>Total records: <span id="logs_number"></span></p>
    <ul class="pager">
      <li class="previous" tbl="logs"><a href="#">&larr; Older</a></li>
      <li class="next" tbl="logs"><a href="#">Newer &rarr;</a></li>
    </ul>
    <table class="table table-hover" id="log-tbl">
    	<thead>
	    	<tr>
	    		<th>#</th>
          <th>Time</th>
	    		<th>Method</th>
	    		<th>IP</th>
	    		<th>Query</th>
	    		<th>Request Data</th>
          <th>Status</th>
          <th>Response Data</th>
	    	</tr>
    	</thead>
    	<tbody></tbody>
    </table>
  </div>
</div>  


