<link rel="stylesheet" href="resources/css/places-modal.css" type="text/css" media="all">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div id="navbar-container" class="container-fluid">
  </div>
</div>

<div id="content">
</div>

<div id="places_modal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="placesModalLabel" aria-hidden="true" style="display:table">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="placesModalLabel">Ray Places</h3>
  </div>
  <div class="modal-body">
    <!--
    <div class="row">
      <div class="col-md-12 text-center about-col">
        <p class="about-subheading">Make your business outlets more accessible to the visually handicapped with three simple steps!
      </div>
    </div>
  -->
    <div class="row">
    	<div class="col-md-4 text-center about-col">
    		<div class="media">
  				<div class="media-body">
    				<div class="media about-img" id="about_img_1_holder">
    				</div>
					<h4 class="media-heading">Select an outlet</h4>
    				<div class="media">
    					Select an outlet of your business on the map
    				</div>
  				</div>
			</div>
    	</div>
    	<div class="col-md-4 text-center about-col">
    		<div class="media">
  				<div class="media-body">
    				<div class="media about-img" id="about_img_2_holder">
    				</div>
					<h4 class="media-heading">Enter accessbility information</h4>
    				<div class="media">
    					Enter instruction that will help a visually handicapped customer navigate within your business outlet
    				</div>
  				</div>
			</div>
    	</div>
    	<div class="col-md-4 text-center about-col">
    		<div class="media">
  				<div class="media-body">
    				<div class="media about-img" id="about_img_3_holder">
    				</div>
					<h4 class="media-heading">Done!</h4>
    				<div class="media">
    					The accessibility information of your outlet is saved and shared with all Project Ray users
    				</div>
  				</div>
			</div>
    	</div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
