<link rel="stylesheet" href="resources/css/recordslog.css" type="text/css" media="all">

<div id="recordslog-content" class="row">
  <div class="col-xs-12">
    <p>Total records: <span id="records_number"></span></p>
    <ul class="pager">
      <li class="previous" tbl="records"><a href="#">&larr; Older</a></li>
      <li class="next" tbl="records"><a href="#">Newer &rarr;</a></li>
    </ul>
    <table class="table table-hover table-striped" id="log-tbl">
    	<thead>
	    	<tr>
	    		<th>#</th>
	    		<th>Time Added</th>
	    		<th>ID</th>
	    		<th>User ID</th>
	    		<th>Place ID</th>
	    		<th>Actions</th>
	    	</tr>
    	</thead>
    	<tbody></tbody>
    </table>
  </div>
</div>  


