<link rel="stylesheet" href="resources/css/selectplace.css" type="text/css" media="all">

<div class="header">
  <h1>Select a place</h1>
</div>

<div id="place-search-bar-holder"></div>
<div id="map-canvas-holder"></div>

<div id="map-legends" class="pull-right">
	<span>
		<img src='resources/img/blind_friendly.png'>
		Place with existing accessibility information
	</span>
	<span>
		<img src='resources/img/blind_unfriendly.png'>
		Place that needs accessibility information
	</span>
</div>

<!--
<form class="form-horizontal submit-place-container" role="form">
    <div class="form-group">
    	<div class="col-sm-12">
      	<button id="submit-place-btn" class="btn btn-default pull-right disabled submit-place">Select Place</button>
      </div>
    </div>
</form>
-->
