<link rel="stylesheet" href="resources/css/signup.css" type="text/css" media="all">

<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 project-ray-intro">
      <div class="header">
        <h1>Project Ray</h1>
        <p>Smartphone solution for the visually impaired</p>
      </div>
      <p>
        Project-RAY expands the capabilities of existing smartphones to serve the blind and low vision community. We accomplish this through RAY - an Android smartphone with built-in accessibility and assistive features. This increases the convenience and lowers the cost of acquiring multiple assistive devices.
      </p>
      <div class="ray-homepage">
        <button class="btn btn-default center ray_home_btn" >Project Ray Homepage</button>
      </div>
    </div>
    <div class="col-md-5 signup-container">
        <div class="header">
          <h1>Sign up</h1>
          <p>Make the world more accessible</p>
        </div>
        <form class="form-horizontal" role="form">
          <div class="acc-info">
            <div class="form-group has-feedback">
              <label for="input-email" class="col-sm-4 control-label" rel="popover" data-content="Hello">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="input-email" placeholder="Your email address">
              </div>
            </div>
            <div class="form-group has-feedback">
              <label for="input-password" class="col-sm-4 control-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="input-password" placeholder="Password">
              </div>
            </div>
            <div class="form-group has-feedback">
              <label for="input-repassword" class="col-sm-4 control-label">Re-enter password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="input-repassword" placeholder="Re-enter your password">
              </div>
            </div>
          </div>

          <div class="personal-info">
            <div class="form-group has-feedback">
              <label for="input-business-name" class="col-sm-4 control-label">Name of your business</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-businessname" placeholder="Name of your business">
              </div>
            </div>
            <div class="form-group has-feedback">
              <label for="input-firstname" class="col-sm-4 control-label">Your first name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-firstname" placeholder="Your first name">
              </div>
            </div>
            <div class="form-group has-feedback">
              <label for="input-lastname" class="col-sm-4 control-label">Your family name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="input-lastname" placeholder="Your last name">
              </div>
            </div>
            <div class="form-group has-feedback">
              <label for="input-phone" class="col-sm-4 control-label">Your phone number</label>
              <div class="col-sm-8">
                <input type="tel" class="form-control" id="input-phone" placeholder="Your phone number">
              </div>
            </div>

            <div id="error-msg-container"></div>

            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button id="create_acc_btn" class="btn btn-default pull-right create-acc-btn">Create your account</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div><!-- main container-->
